<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <%- include ('../partials/head.ejs') %>
  </head>
    <body>
        <h1>Grocery Tracker</h1>
        <table style="width:50%">
          <tr class item-list>
            <th>Grocery Item</th>
          </tr>
          <tr>
            <td>Item Priority</td>
          </tr>
          <tr>
            <td>Quantity in stock</td>
          </tr>
        </table>
        <button onclick= href="/groceries/new">Add grocery item</button>
    </body>
</html>
