<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <div class="container">
      <h1>New Grocery Item</h1>
      <%- include ('../partials/nav-start.ejs') %>
      <%- include ('../partials/nav-end.ejs') %>
      <form action="/groceries" method="POST">
        <table class="table table-striped table-bordered">
          <tr>
            <th>Grocery Item</th>
            <td>
              <input type="text" name="groceryItem" />
            </td>
          </tr>
          <tr>
            <th>Restock Quantity</th>
            <td>
              <div class="restockQuantity">
                <input type="number" min="1" name="restockQuantity" />
              </div>
            </td>
          </tr>
          <tr>
            <th>Consume Quantity</th>
            <td>
              <div class="consumeQuantity">
                <input type="number" min="1" name="consumeQuantity" />
              </div>
            </td>
          </tr>
        </table>

        <div class="footer-links">
          <input class="btn btn-primary footer-link" type="submit" id="submit" value="Create Grocery Item" />
        </div>
      </form>
    </div>
  </body>
</html>
Í
