<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <div class="container">
      <h1>New Grocery Item</h1>
      <div class="main-links">
        <div><a href="/groceries">Back to groceries</a></div>
      </div>
      <form action="/groceries" method="POST">
        Grocery Item: <input type="text" name="groceryItem" /><br />
        Item Priority: <input type="text" name="itemPriority" /><br />
        Restock Quantity: <input type="number" name="restockQuantity" /><br />
        Consume Quantity: <input type="number" name="consumeQuantity" /><br />
        <input class="btn btn-primary" type="submit" id="submit" value="Create Grocery Item" />
      </form>
    </div>
  </body>
</html>
